*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 70px;
    background: #141414;
box-shadow: 0px 20px 20px rgb(188, 188, 188);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.HeaderInto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
}
.HeaderBottom{
    margin-top: 50px;
width: 100%;
background-color: #ffffff;

}
.IMGme{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Me{
    width: 80%;
    border-radius: 50px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    border-bottom: 3px solid orange;
    
}
h1{
    background: linear-gradient(90.48deg, #ff6f00 0.34%, #FD6F00 42.06%, #CA5900 90.34%);
    background-clip: text;
-webkit-text-fill-color: transparent;
}
.text{
    text-align: center;
    padding-top: 30px;
}
.social{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.CV{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.but{
width: 70%;
height: 40px;
border-radius: 50px;
border: 1.5px solid #FF6600;
background: #ff660094;
box-shadow: 0px 0px 50px 0px #ff6600be;
color: white;
text-transform: uppercase;


}